.row-runs{
    background-color: rgba(231, 248, 255, 0.94);
    padding: 30px 32px;
    border-radius: 14px;

  }
  
  td{
    font-size: 1.4em;
  }
  
  table>tbody>tr:hover{
    background-color: rgb(233, 233, 233);
    border-radius: 14px;    
  }
  
  td > a{
    color: #ff1744;
  }
  
  td > a:hover{
    text-decoration: none;
    color: #ff5252;
  }
  
  hr{
    border-color: rgb(86, 179, 255);
    border-radius: 14px;

  }
  
  .summary{
    font-size: 1.4em;
  }
  
  .heading{
    font-family: 'Fjalla One', sans-serif;
  }
  
  .totals{
    display: inline;
    font-family: 'Fjalla One', sans-serif;
    color:rgb(127, 223, 252);
    margin: 2px;
  }
  
  .end{
    justify-content: flex-end;
    text-align: end;
  }